.container{
    width:50%;
    margin:20px auto;
}

@media only screen and (max-width: 1000px) {
    .container{
        width:80%;
        margin:20px auto;
    }
}
@media only screen and (max-width: 800px) {
    .container{
        width:100%;
        margin:20px auto;
    }
}