.game {
  margin: 0 auto;
  width: 30rem;
}

.status {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 2rem;
  margin: 0 2rem;
}

.board-row {
  width: 30rem;
}

button {
  background: #fff;
  border: 1px solid #999;
  cursor: pointer;
  float: left;
  font-size: 5rem;
  font-weight: bold;
  height: 10rem;
  line-height: 2.125rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10rem;
}
